
    <p>Amount: <%= d.amount %>
        Date: <%= d.date.strftime("%m-%e-%y %H:%M") %>
        <% if d.organization %> 
            Organization: <%= d.organization.name %>
        <% end %>
    </p>
